version: "3.8"

services:
  db:
    image: mysql:8
    container_name: tasty_mysql
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","127.0.0.1","-uroot","-prootpassword"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data

  app:
    build: .
    container_name: tasty_app
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - app-network
volumes:
  mysql-data:
  redis_data:

networks:
  app-network:
    driver: bridge



